<div class="container">
    <div class="row">
        <div class="col-md-10 mt-4 mx-auto">
            <div class="row">
                <div class="col-md-4">
                    <h1>Библиотека</h1>
                </div>
                <div class="col-md-8">
                    <ul class="nav mt-3 float-right">
                        <li class="nav-item">
                            <a [routerLink]="['/books']" routerLinkActive="router-link-active"  class="nav-link active" href="#">Књиге</a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/authors']" routerLinkActive="router-link-active"  class="nav-link" href="#">Аутори</a>
                        </li>
                    </ul>
                </div>
            </div>                    
            <hr>
            <p class="d-inline">ДМ онлајн библиотека</p>
        </div>
    
        <div class="col-md-10 mt-4 mx-auto">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>